:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #e3620f;
  --secondary: #e3620f;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f1f3ff;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
a {
  text-decoration:none;
  color:#7a7877;
}
a:hover {
  text-decoration:none;
  color:#f9825b;
}

/* Body CSS================================ */
body{
    background-color: #f2f3f5;
}
    /* Body CSS Ends======================= */



    /* Cards CSS============================ */
.card-body{
    background-image: url("boda-1.jpg");
}
#main-card{
    text-align:left;
}



.container-for-cards{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.card-main {
  /* Add shadows to create the "card" effect */
  transition: 0.9s;
  /* background-image: url('boda-1.jpg'); */
  /* background-color:#f9825b; */
  border-radius:10px;
  text-decoration:none;

}

.card-main a{ 
  text-decoration:none;
  Color:#f9825b;
}


.card-tittle{
  Color:#fff;
}

.card-text a{
  Color:#fff;
  text-decoration:none;
}

.card {
    /* Add shadows to create the "card" effect */
    transition: 0.9s;
    border-radius:10px;
    margin-top:25px;
  }
  .card img {
    margin-top:10px

  }

  .container-for-cards a{
    color:#7a7877;
    text-decoration:none;

  }

  @media screen and (max-width: 480px) {
    .card {
      transition: 0.9s;
      border-radius:10px;
      width: 100px;
    }
  }

  @media screen and (max-width: 760px) {
    .card {
      transition: 0.9s;
      border-radius:10px;
      width: 100px;
    }
  }
  
  @media screen and (min-width: 990px) {
    .card {
      transition: 0.9s;
      border-radius:10px;
      width: 450px;
    }
  }
  

  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    margin-top: 9px;
    
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 1px 10px;
  }

/* Cards CSS Ends============================= */

/* search bar=================================== */
.btn{
  margin-top:30px;
  border-radius:500px;
  color:#fff;
  background-color: #f9825b;
}

.btn{
  margin-right:120px;
  margin-bottom:0.5px;
}

.btn-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-row a{
  text-decoration:none;
  color:#fff;
}

.left-btn{
  padding: 2px;
  color: #292929;
  background: #fff;
  border-radius: 50px;
}

.left-btn-2{
  padding: 2px;
  color: #292929;
  background: #fff;

  border-radius: 50px;
}
.left-btn i{
  Color: #292929;
}




@media screen and (min-width: 990px) {
  .btn {
    transition: 0.9s;
    border-radius:50px;
    width: 500px;
    margin-left: 34%;
  }
}

/* map============================================== */
#inlineFrameExample{

}

@media screen and (min-width: 990px) {
  #inlineFrameExample{
    margin-left:150px;

    transition: 0.9s;
    border-radius:10px;
    width: 150vh;
  }
}

@media screen and (min-width: 990px) {
  .map {
    margin-left:43%;
    width: 450px;
  }
}



/* saved place=============================== */
@media screen and (min-width: 990px) {
  .saved-place {
    margin-left:38%;
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .saved-iterm-1{
    font-size: 15px;
  }

  .saved-iterm-3{
    margin-left:20px;
    font-size: 15px;
  }
  
  .saved-iterm-3 i{
    margin-left: 68px;
   /* margin-left: 70px; */
  }

  .left-icon i{
    margin-left: 80px;
   /* margin-left: 70px; */
  }
}


.saved-place{
  display: flex;
}