:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #e3620f;
  --secondary: #e3620f;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f1f3ff;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* loader=============================================== */


/* ================================loader==end============================================= */
a {
  text-decoration:none;
  color:#7a7877;
}
a:hover {
  text-decoration:none;
  color:#f9825b;
}

/* Body CSS================================ */
body{
    background-color: #f2f3f5;
}
    /* Body CSS Ends======================= */



    /* Cards CSS============================ */
.card-body{
    background-image: url("boda-1.jpg");
}
#main-card{
    text-align:left;
}



.container-for-cards{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.card-main {
  /* Add shadows to create the "card" effect */
  transition: 0.9s;
  /* background-image: url('boda-1.jpg'); */
  /* background-color:#f9825b; */
  border-radius:10px;
  text-decoration:none;

}

.card-main a{ 
  text-decoration:none;
  Color:#f9825b;
}


.card-tittle{
  Color:#fff;
}

.card-text a{
  Color:#fff;
  text-decoration:none;
}

.card {
    /* Add shadows to create the "card" effect */
    transition: 0.9s;
    border-radius:10px;
    margin-top:25px;
  }
  .card img {
    margin-top:10px

  }


  /* ================message ===card ===================================*/
  .card-message{
    margin-top:50px;
    margin-bottom:10px;
    margin-left:130px;
    text-align:center;
  }
  .description{
    margin-top:50px;
    margin-bottom:-100px;
    text-align:center;
  }


  /* ============================================================ */

  .container-for-cards a{
    color:#7a7877;
    text-decoration:none;

  }

  @media screen and (max-width: 480px) {
    .card {
      transition: 0.9s;
      border-radius:10px;
      width: 100px;
    }
  }

  @media screen and (max-width: 760px) {
    .card {
      transition: 0.9s;
      border-radius:10px;
      width: 100px;
    }
  }
  
  @media screen and (min-width: 990px) {
    .card {
      transition: 0.9s;
      border-radius:10px;
      width: 450px;
    }
  }
  

  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    margin-top: 9px;
    
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 1px 10px;
  }

/* Cards CSS Ends============================= */

/* search bar=================================== */
.btn{
  margin-top:45px;
  height:60px;
  border-radius:500px;
  color:#fff;
  background-color: #f9825b;
}

.btn{
  margin-right:120px;
  margin-bottom:0.5px;
}

.btn-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-row a{
  text-decoration:none;
  color:#fff;
}

.left-btn{
  padding: 2px;
  color: #292929;
  background: #fff;
  border-radius: 50px;
}

.left-btn-2{
  padding: 2px;
  color: #292929;
  background: #fff;

  border-radius: 50px;
}
.left-btn i{
  Color: #292929;
}




@media screen and (min-width: 990px) {
  .btn {
    transition: 0.9s;
    border-radius:50px;
    width: 500px;
    margin-left: 34%;
  }
}

/* map============================================== */
#inlineFrameExample{

}

@media screen and (min-width: 990px) {
  #inlineFrameExample{
    margin-left:150px;

    transition: 0.9s;
    border-radius:10px;
    width: 150vh;
  }
}

@media screen and (min-width: 990px) {
  .map {
    margin-left:43%;
    width: 450px;
  }
}



/* saved place=============================== */
@media screen and (min-width: 990px) {
  .saved-place {
    margin-left:38%;
    width: 450px;
  }
}



@media screen and (max-width: 480px) {
  .saved-iterm-1{
    font-size: 15px;
  }

  .saved-iterm-3{
    margin-left:20px;
    font-size: 15px;
  }
  
  .saved-iterm-3 i{
    margin-left: 63px;
   /* margin-left: 70px; */
  }

  .left-icon i{
    margin-left: 75px;
   
  }
}

@media screen and (min-width: 415px) {
  .saved-iterm-1{
    font-size: 20px;
  }

  .saved-iterm-3{
    margin-left:20px;
    font-size: 20px;
  }
  
  .saved-iterm-3 i{
    margin-left: 68px;

  }

  .left-icon i{
    margin-left: 90px;
  
  }
}



@media screen and (min-width: 390px) {
  .saved-iterm-1{
    font-size: 17px;
  }

  .saved-iterm-3{
    margin-left:20px;
    font-size: 17px;
  }
  
  .saved-iterm-3 i{
    margin-left: 68px;

  }

  .left-icon i{
    margin-left: 90px;
  
  }
}


@media screen and (min-width: 450px) {
  .saved-iterm-1{
    font-size: 20px;
  }

  .saved-iterm-3{
    margin-left:20px;
    font-size: 20px;
  }
  
  .saved-iterm-3 i{
    margin-left: 68px;

  }

  .left-icon i{
    margin-left: 90px;
  
  }
}

@media screen and (min-width: 375px) {
  .saved-iterm-1{
    font-size: 17px;
  }

  .saved-iterm-3{
    margin-left:20px;
    font-size: 17px;
  }
  
  .saved-iterm-3 i{
    margin-left: 68px;

  }

  .left-icon i{
    margin-left: 90px;
  
  }
}




.saved-place{
  display: flex;
}



/* Navigation menu================================================ */

*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.nav-og{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#f2f3f5;

}

.navigation{
  bottom:0;
  position: relative;
  width: 500px;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom:0px;
  margin-left:50%;
  margin-right:50%;
  position: fixed;

}

.navigation ul{
display: flex;
width: 350px;
}

.navigation ul li{
  list-style: none;
  position: relative;
  width: 90px;
  height: 60px;
  z-index: 2;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navigation ul li a .icon{
  position:relative;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  color: #222327;
  font-size: 1.5em;
  transform: 0.5s;
  transition-delay: 0s;
  /* ========================================================= */
}

.navigation ul li.active a .icon
{
  background: var(--clr);
  color: #fff;
  transform: translateY( -27px);
  transition-delay: 0.25s;

}

.navigation ul li a .icon::before
{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  border-radius: 50%;
  filter: blur(5px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;

}

.navigation ul li.active a .icon::before
{
  opacity: 0.5;
  transition-delay: 0.25s;
}

.indicator
{
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius:50%;
  z-index: 1;
  transition:0.5s;
}
/* ========================inazinguaaa mpaka div ya chini ienee kote=============== */
.indicator::before
{
  content: '';
  position: absolute; 
  top: 5px;
  left: -28px;
  width: 30px;
  height:30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
}
/* ================================================================================== */

.indicator::after
{
  content: '';
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px #fff
} 

.navigation ul li:nth-child(1).active ~ .indicator
{
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
  transform: translateX(calc(70px * 4));
}

/* naviation menu ends=========================================== */



























